{{!------------------------------
To add a new social icon simply duplicate one of the list items from below
and change the class in the <i> tag to match the desired social network
and then add your link to the <a>. Here is a full list of social network
classes that you can use:

    icon-social-500px
    icon-social-behance
    icon-social-delicious
    icon-social-designer-news
    icon-social-deviant-art
    icon-social-digg
    icon-social-dribbble
    icon-social-facebook
    icon-social-flickr
    icon-social-forrst
    icon-social-foursquare
    icon-social-github
    icon-social-google-plus
    icon-social-hi5
    icon-social-instagram
    icon-social-lastfm
    icon-social-linkedin
    icon-social-medium
    icon-social-myspace
    icon-social-path
    icon-social-pinterest
    icon-social-rdio
    icon-social-reddit
    icon-social-skype
    icon-social-spotify
    icon-social-stack-overflow
    icon-social-steam
    icon-social-stumbleupon
    icon-social-treehouse
    icon-social-tumblr
    icon-social-twitter
    icon-social-vimeo
    icon-social-xbox
    icon-social-yelp
    icon-social-youtube
    icon-social-zerply
    icon-mail

--------------------------------}}

<nav class="cover-navigation navigation--social">
  <ul class="navigation">
    <!-- Twitter -->
    <li class="navigation__item">
      <a href="http://twitter.com/hejiyanyu" title="@hejiyanyu on Twitter" target="_blank">
        <i class='icon icon-social-twitter'></i>
        <span class="label">Twitter</span>
      </a>
    </li>

    <!-- Github -->
    <li class="navigation__item">
      <a href="https://github.com/abruzzihraig" title="abruzzihraig on Github" target="_blank">
        <i class='icon icon-social-github'></i>
        <span class="label">Github</span>
      </a>
    </li>

    <!-- Stack Overflow -->
    <li class="navigation__item">
      <a href="http://stackoverflow.com/users/3113992/abruzzi" title="abruzzihraig on StackOverflow" target="_blank">
        <i class='icon icon-social-stack-overflow'></i>
        <span class="label">StackOverflow</span>
      </a>
    </li>

    <!-- Linkedin -->
    <li class="navigation__item">
      <a href="http://www.linkedin.com/profile/view?id=334075779" title="Yang He on Linkedin" target="_blank">
        <i class='icon icon-social-linkedin'></i>
        <span class="label">Linkedin</span>
      </a>
    </li>

    <!-- Email -->
    <li class="navigation__item">
      <a href="mailto:abruzzi.hraig@gmail.com" title="Email abruzzi.hraig@gmail.com" target="_blank">
        <i class='icon icon-mail'></i>
        <span class="label">Email</span>
      </a>
    </li>
  </ul>
</nav>
